.navigation {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: center;
  z-index: 2;
  padding-left: 1em;
  max-height: 100vh;
  left: -4em;
}

.buttons {
  width: 12pt;
  height: 12pt;
  border-radius: 50%;
  left: 0em;
  position: absolute;
}

.button1 {
  background-color: #da7474;
  /*border: 0.1em solid rgb(131, 48, 48);
    mix-blend-mode: hard-light;*/
  margin-top: 150pt;
}

.button2 {
  background-color: #ebb9b9;
  /*mix-blend-mode: hard-light;
  border: 0.1em solid rgb(131, 48, 48);*/
  margin-top: 250pt;
}

.buttons:hover {
  left: 0em;
  width: 100pt;
  height: 100pt;
  margin-left: -50pt;
}

.button1:hover {
  margin-top: 100pt;
}

.button2:hover {
  margin-top: 200pt;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  text-align: justify;
  margin-top: 0vh;
  z-index: 1;
}

.main {
  column-count: 5;
  column-gap: 1.5em;
  max-height: 100vh;
  padding: 1em;
}

@media all and (max-width: 720px) {
  .main {
    column-count: 1;
    column-gap: 1.5em;
    max-height: 100vh;
    padding: 1em;
  }

  .buttons {
    width: 50pt;
    height: 50pt;
    border-radius: 50%;
    bottom: 10px;
    position: absolute;
    left: auto;
    z-index: 5;
    opacity: .75;
  }

  .button1 {
    background-color: #da7474;
    right: 15pt;
  }
  
  .button2 {
    background-color: #ebb9b9;
    left: 15pt;
  }

  
  .buttons:hover {
    left: auto;
    width: 50pt;
    height: 50pt;
    margin: 0;
  }
  
  .button1:hover {
    margin: 0;
  }
  
  .button2:hover {
    margin: 0;
  }
}
